/************* FONT ****************/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,vietnamese');


:root{
    --color-white: #ffffff;
    --color-black: black;
    --color-primary: #3f3d55;
    --color-secondary: #7f7cae;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #e9e8e8;
}


a, a:hover{
    text-decoration: none
}

.pt-80{
    padding: 80px 0;
}

p{
    font-size: 1.6rem;
    font-weight: 200;
    color: #898989
}

/*************** SECTION HEADER ********************/

.header{
    height: 100vh;
    width: 100%;
    background: url('../images/slide.jpg');
    background-size: cover;
}


/*************** SECTION SERVICES ********************/
/*****************************************************/

.services{
    min-height: 55rem;
    z-index: 1000;
}

.box-services{
    background: var(--color-white);
    width: 100%;
    min-height: 50rem;
    box-shadow: 0 15px 25px -7px rgba(0,0,0,.09), 0 -12px 10px -10px rgba(0,0,0,.04);
    margin-top: -24rem;
}

.services-card{
    padding: 1.8rem;
}

.services-card_title{
    padding: 1.4rem 2rem;
}

.services-card_title h1{
    font-size: 3rem;
    color: var(--color-primary);
    font-weight: 700;
}

.services-card_title p{
    color: var(--color-primary);
    font-size: 1.6rem;
    color: #898989;
    font-weight: 200;
    margin-bottom: 6rem;
}

.btn-link{
    border: 0;
    padding: 1rem 3.5rem;
    color: var(--color-white);
    background-color: #ff414a;
    font-size: 1.6rem;
    border-radius: 3.8rem; 
}

.btn-link:hover{
    border-radius: 3.8rem; 
    text-decoration: none;
    background-color: #ff414a;
    color: var(--color-white)
}

.services-card_illustration{
    width: 12.8rem;
    height: 12.4rem;
}

.services-card_illustration > img{ 
    height: auto;
    object-fit: cover;
}

.services-card h2{
    color: var(--color-primary);
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 600; 
    margin: 1rem 0 2rem;
}

.services-card p{
    color: var(--color-primary);
    font-size: 1.6rem;
    color: #898989;
    font-weight: 200;
}

/************* SECTION PRESENTATION ******************/
/*****************************************************/

.presentation{
    padding: 8rem 0;
}

.presentation-heading{
    text-align: center;
    margin: 7rem 0 5rem;
}

.presentation-heading h1{
    font-size: 3.6rem;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--color-primary);
}

.presentation-heading p{
    color: var(--color-primary);
    font-style: italic;
}


.presentation-card{
    min-height: 40rem;
    background: var(--color-white);
    padding: 5rem 1.8rem;
    position: relative;
}

.presentation-card_icon{
    width: 3rem;
    height: 3rem;
    transition: all .3s;
}

.presentation-card_icon:hover{
    margin-left: 1rem; 
    transform: scale(1.1);
    cursor: pointer;
}

.presentation-card_icon img{
    height: auto;
    object-fit: cover
}

.presentation-card h2{
    margin-top: 4rem;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.presentation-card_illustration{
    position: absolute;
    bottom: -1.26rem;
    right: 0;
    width: 13rem;
    height: 15rem;
}

.presentation-card_illustration img{
    height: 15rem;
    object-fit: contain;
    width: 100%;
}


/************* SECTION PRODUITS **********************/
/*****************************************************/


.produits{
    background-color: var(--color-white); 
    padding: 8rem 0;  
}

.produits-heading{
    margin-bottom: 7rem;
}

.produits-heading span{
    font-size: 3rem;
    color: var(--color-primary);
    font-weight: bold;
}

.produits-heading h1{
    font-size: 4rem;
    color: var(--color-primary);
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
    color: var(--color-secondary);
    font-style: italic;
    margin-top: -.4rem;
}

.produits-description{
    display: flex;
    transition: all .4s;
    margin-bottom: 3rem
}

.produits-description:hover{
    margin-left: 4rem;
}

.produits-description_icon{
    width: 4rem;
    height: 4rem;
    background-color: #3f3d55;
    margin-right: 3rem;
}

.produits-description_info{
    width: 27rem;
}

.produits-description_info h3{
    color: var(--color-primary);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.produits-description_info p{
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
}

.produits-illustration{
    height: 60rem;
    width: 100%;
}

.produits-illustration{
    height: auto;
    width: 100%;
    object-fit: cover;
}

/*************** SECTION CONTACT ********************/
/*****************************************************/

.contact{
    height: 40rem;
    background: url('../images/susbscribe-bg.jpg');
    width: 100%;
    background-size: cover;
    padding: 9rem 5rem
}
.contact-title{
    width: 50%;
    margin: 0 auto;
}

.contact-title h1{
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 1.6rem
}

.title-color{
    font-family: 'Philosopher', sans-serif;
    color: #ff414a; 
    font-style: italic
}

.contact-title p{
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
}

.contact-form{
    display: flex;
    width: 50%;
    margin: 5rem auto 0;
}

.contact-form input{
    width: 1000%;
    height: 4.5rem;
    border: 0;
    border-radius: 3.2rem;
    background-color: #626075;
    color: var(--color-white);
    padding-left: 3.5rem;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 4.5rem;
    transition: all .2s;
}

.contact-form input:focus,
.btn-submit:focus{
    outline: none;
}

.contact-form input:hover{
    background-color: #58556e;
}


.btn-submit{
    height: 4.5rem;
    padding: 0 3rem;
    margin-left: -3rem;
    border-radius: 3.2rem;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
}


/*************** SECTION TESTAMONIALE ****************/
/*****************************************************/


.testamoniale{
    padding: 7rem 0;
}

.testamoniale-heading{
    margin: 7rem;
}

.testamoniale-heading h1{
    color: var(--color-primary);
    font-size: 3.6rem;
    font-weight: bold;
}


.testamoniale-heading p{
    color: var(--color-primary);
    font-weight: 100;
    font-style: italic; 
    margin-top: -.5rem;
}

.testamoniale-card{
    padding-right: 5rem;
}

.testamoniale-card_icon{
    font-family: 'Philosopher', sans-serif;
    font-size: 7rem;
}


.testamoniale-card h4{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.testamoniale-card ul li{
    font-size: 1.8rem;
    list-style: none;
    font-size: 1.2rem;
    color: #898989;
    font-style: italic;
    margin-bottom: .5em
}


/*************** SECTION TESTAMONIALE ****************/
/*****************************************************/


.parterner-box{
    display: flex; 
    flex-wrap: wrap;
}

.partener-logo{
    flex: 1;
    min-height: 5rem;
    margin: 2rem;

}


/*************** SECTION SUBSCRIRE ****************/
/*****************************************************/

.subscrire{
    padding: 7rem 0;
}

.subscrire-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscrire-box h1{
    width: 48%;
    font-size: 4.3rem;
    font-weight: bold;
}

.footer{
    height: 30rem;
    padding: 70px;
    background-color: var(--color-primary);
}