@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root
{
    --color-white: white;
    --color-primary: #fe414a;
    --color-grisclair: #f3f3f7;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

/*------------ GENERAL ------------*/

html
{
    font-size: 62.5%;
}

body
{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1,h2,h3,h4
{
    font-weight: bold;
}

/*------------ NAV BAR ------------*/

.topNav
{
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 10;
    padding: 5rem 0;
}

.navLinks li a
{
    color: var(--color-white);
    font-size: 1.5rem;
    transition: all .5s;
    font-weight: bold;
}

.navLinks li a:hover
{
    color: var(--color-primary);
}

.navLinks li a img
{
    height: 2rem;
    width: 2rem;
}

/*------------ HEADER ------------*/

.header
{
    height: 100vh;
    width: 100%;
    background-image: url('../img/slide.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.headerTitle
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.headerTitle h1
{
    font-size: 6.6rem;
    color: var(--color-white);
    font-weight: bolder;
}

.headerTitle span
{
    color: var(--color-primary);
    font-style: italic;
}

/*------------ SIDE BAR ------------*/

.sideBar
{
    width: 5rem;
    min-height: 40rem;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 20%;
    left: 97%;
}

.sideBar img
{
    height: 3.5rem;
    width: 3.5rem;
    padding: 2rem .8rem;
}

.sideBar img:hover
{
    background-color: #6d64ff;
}

.sideBar .icontop
{
    border-top: 1px solid #ccc;
}



/*------------ SECTION 1 ------------*/

.sectionOne
{
    width: 100%;
    min-height: 40rem;
    background-color: var(--color-grisclair);
    position: relative;
}

.sectionOne__content
{
    background: var(--color-white);
    min-height: 40rem;
    padding: 10rem 3rem;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.sectionOne__content h2
{
    color: #3f3d56;
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.sectionOne__content p
{
    color: #908E90;
    font-size: 1.6rem;
}

.btnS1
{
    margin-top: 5rem;
    padding: 1rem 3rem;
    color: var(--color-white);
    border-radius: 5.5rem;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    border: none;
    font-weight: bold;
}

.sectionOne__content img
{
    margin-bottom: 2rem;
}

/*------------ SECTION 2 ------------*/

.sectionTwo
{
    width: 100%;
    min-height: 50rem;
    background-color: var(--color-grisclair);
    padding: 1.5rem 0;
}

.sectionTwo__text h2
{
    color: #3f3d56;
    font-size: 3.4rem;
}

.sectionTwo__text p
{
    color: #3f3d56;
    font-size: 1.6rem;
    font-style: italic;
}

.textCard
{
    margin: 5rem 0;
}

.cardInside
{
    padding: 2rem 2rem;
    position: relative;
    min-height: 40rem;
}

.cardInside h2
{
    font-size: 2.4rem;
    color: #3f3d56;
}

.cardInside p
{
    font-size: 1.6rem;
    color: #908E90;
}

.cardInside a
{
    font-size: 6.6rem;
    color: var(--color-primary);
    text-decoration: none;
}

.cardInside img
{
    margin-top: 3rem;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50% , -50%);
}

/*------------ SECTION 3 ------------*/

.sectionThree
{
    width: 100%;
    min-height: 50rem;
    background-color: var(--color-white);
    padding: 4rem 0;
}

.sectionThree h2
{
    font-size: 3rem;
    color: #3f3d56;
    font-weight: bold;
}

.sectionThree h1
{
    font-size: 4rem;
    color: #7f7bae;
    font-weight: bold;
    font-style: italic;
}

.leftThree
{
    padding-top: 4rem;
}

.iconThree img
{
    height: 5rem;
    width: 5rem;
    margin-right: 3rem;
}

.sectionIcon
{
    margin-top: 6rem;
}

.sectionThree h3
{
    font-size: 2.5rem;
    color: #3f3d56;
    font-weight: bold;
}

.sectionThree  p
{
    font-size: 1.6rem;
    color: #898989;
}

.bordertop
{
    border-top: 1px solid #ccc;
    padding-top: .5rem;
}

/*------------ SECTION 4 ------------*/

.sectionFour
{
    width: 100%;
    background-image: url(../img/susbscribe-bg.jpg);
    min-height: 40rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 4rem;
}

.insideS4
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.insideS4 h1
{
    font-size: 3.6rem;
    color: var(--color-white);
    font-weight: bold;
}

.insideS4 span
{
    font-size: 3.6rem;
    color: var(--color-primary);
    font-style: italic;
}

.insideS4 p
{
    font-size: 1.6rem;
    color: var(--color-white);
}

.insideS4 .text
{
    width: 41rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    background-color: #626075;
    border-radius: 2rem;
    border: 0.5px solid #626075;
}

.insideS4 .submit
{
    width: 5rem;
    padding: 1.5rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.4rem;
    margin-left: -4rem;
}

/*------------ SECTION 5 ------------*/

.sectionfive
{
    width: 100%;
    min-width: 30rem;
    background-color: var(--color-grisclair);
    padding: 4rem 0;
}

.insideS5
{
    margin: 10rem 0;
}

.insideS5 h1
{
    font-size: 10rem;
}

.insideS5 p
{
    font-size: 1.6rem;
    color: #898989;
    margin-bottom: 3rem;
}

.insideS5 span
{
    font-size: 1.3rem;
    color: #898989;
    font-style: italic;
}

.imgS5
{
    padding-bottom: 5rem;
    border-bottom: 1px solid #ccc;
}


.basS5
{
    position: relative;
    padding: 5rem 0;
}

.basS5 h1
{
    font-size: 4rem;
    color: #3f3d56;
}

.basS5 span
{
    color: var(--color-primary);
    font-style: italic
}

.btnBas
{
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50% , -50%);
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    color: white;
    background-color: var(--color-primary);
    border-radius: 2rem;
    border: none;
}

/*------------ FOOTER ------------*/

.footer
{
    width: 100%;
    min-height: 30rem;
    background-color: #3f3d56;
    padding: 2rem 0;
}

.footer img
{
    margin-bottom: 4rem;
}

.footer h2
{
    color: white;
    margin-bottom: 4rem;
}

.footer p
{
    font-size: 1.4rem;
    color: #bebbbc;
}

.footer a
{
    color: #bebbbc;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all .5s;
}

.footer a:hover
{
    color: var(--color-primary);
}

.copyright
{
    margin: 5rem auto 1rem;
}